html, body, #root {
    height: 100%;
    margin: 0;
}


.layout-base { 
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:rgb(230, 230, 230);
}

.layout-links { 
    padding: 10px;
    cursor: pointer;
}

.layout-links:hover { 
    background-color: white;
    color: black;
}

.layout-header {
    margin: 0; 
    background-color: rgb(37, 175, 37);
    color: white;
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

