.List { 
    border: 1px solid red;
    justify-content: center;
    text-align: center;
}
.BtnRemove { 
    background-color: green;
    padding: 5px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.btnFavorite { 
    cursor: pointer;
    background-color: white;
    padding: 5px;
    color: white;
}

.star { 
    cursor: pointer;
    color: rgb(163, 163, 71);
}

.starNotFavorite { 
    cursor: pointer;
    color: rgb(190, 190, 98);
    transition: all 0.2s ease;
}

.star:hover {
  color: red;
  transform: scale(1.1);
}

.starFavorite { 
    cursor: pointer;
    color: red;
    transition: all 0.2s ease;
}